html {
    margin: 0;
    padding: 0;
    line-height: 1.7;
}
body {
    background: rgb(247, 242, 242);
    margin: 0;
    padding: 0;
    font-size: 14px;
}
header {
    background-color: rgb(5, 45, 90);
    width: 100%;
    height: 100px;
    margin-top: 0;
    position: relative;
}
.container {
    max-width: 940px;
    display: block;
    margin: 0 auto;
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}
.navigation {
    position: absolute;
    top: 0;
}
.navigation ul {
    list-style: none;
}
.navigation li {
    float: left;
    padding: 10px 13px;
}
.navigation a {
    text-decoration: none;
    color: white;
    box-sizing: border-box;
    padding: 13px 17px;
    font-size: 1.3em;
    font-family: sans-serif; 
}
#search-box {
    position: absolute;
    width: 250px;
    height: 20px;
    top: 28px;
    right: 20px;
}
#search {
    float: left;
    width: 180px;
    height: 30px;
    display: block;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px 13px;
    margin-right: 20px;
}
#search:hover {
    background-color: rgb(5, 45, 90);;
    color: white;
    font-size: 1em;
}
i {
    font-size: 1.5em;
    margin-top: 5px;   
    float: left;
    color: white;
    cursor: pointer;
}
#content-body {
    margin-top: 30px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}
.pix-container {
    width: 30%;
    float: left;
    box-sizing: border-box;
    margin-right: 35px;
}
.section1 {
    width: 65%;
    float: left;
    box-sizing: border-box;
}
.pix {
    width: 80%;
    float: left;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 50%;
}
.section-content-1 {
    border: 5px double blue;
    width: 100%;
    height: 400px;
    margin-top: 15px;
    padding: 10px 10px;
    box-sizing: border-box;
    border-radius: 10px;
}
.para_1 {
    width: 100%;
    margin-bottom: 20px;
}
.txt {
    width: 60%;
    float: left;
    color: gray;
    font-size: 1em;
    font-family: sans-serif;
}
.txt1 {
    width: 72%;
    float: left;
    color: gray;
    font-size: 1em;
    font-family: sans-serif;
}
.section-content-2 {
    width: 100%;
    height: 450px;
    position: absolute;
    top: 450px;
    padding: 10px 10px;
    box-sizing: border-box;
    border: 5px double blue;
    border-radius: 10px;
}
.ttxt {
    width: 70%;
    float: left;
    position: absolute;
    margin-left: 300px;
}
.van{
    nav-down: root;
}
